%p#notice= notice

= markdown @page.content

- if admin_signed_in?
  %ul.button-group.radius
    %li= link_to 'Edit', edit_page_path(@page), class: 'button'
    %li= link_to 'Back', pages_path, class: 'button'
